@model Homework3.Models.ProductsViewModel


<h1>Product List</h1>

<div class="container">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <p class="card-text"><strong>Price:</strong> @product.Price.ToString("C")</p>
                        <p class="card-text"><strong>Discount:</strong> @product.Discount %</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="@Url.Action("Edit", new { id = product.Id })" class="btn btn-sm btn-outline-secondary">Edit</a>
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-sm btn-outline-danger">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>




